<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:fullBackupOnly="true"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:theme="@style/Theme.FinalProject"
        android:supportsRtl="false"
        >

        <activity
            android:name=".setLegs"
            android:theme="@style/DemoTheme"
            android:exported="false" />
        <activity
            android:name=".setBack"
            android:theme="@style/DemoTheme"
            android:exported="false" />
        <activity
            android:name=".setChest"
            android:theme="@style/DemoTheme"
            android:exported="false" />
        <activity
            android:name=".legsActivity"
            android:theme="@style/DemoTheme"
            android:exported="false" />
        <activity
            android:name=".backActivity"
            android:theme="@style/DemoTheme"
            android:exported="false" />
        <activity
            android:name=".chestActivity"
            android:theme="@style/DemoTheme"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/DemoTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>